<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    @*<link href="~/Content/assets/lib/material-design-icons/css/material-design-iconic-font.css" rel="stylesheet" />*@
    <link href="~/Content/assets/lib/material-design-icons/css/materialdesignicons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/assets/lib/boostrap/css/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/assets/lib/jquery/jquery.js"></script>
    <script src="~/Content/assets/lib/boostrap/js/bootstrap.js"></script>
    <script src="~/Content/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/main.js" type="text/javascript"></script>
</head>
<body>
    <div class="be-wrapper be-fixed-sidebar">
        @Html.Partial("~/Areas/Administrator/Views/Shared/_PartialHeader.cshtml")
        @Html.Partial("~/Areas/Administrator/Views/Shared/_PartialLeft.cshtml")
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>